* {
    margin :0;
    padding: 0;
}
.lorem {
color: seagreen;

}
.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url('https://udevs.io/static/bg_pattern-bfa00f19a06604ab492274cd3d9ea5cf.png')
}
.button {
    width: 100px;
    height: 100px;
    background: red;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    
}
.hello {
    /* color: firebrick; */
    font-size: 72px;
  background: -webkit-linear-gradient(#eee,blue, green, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}